body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(205, 205, 255);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgb(74, 74, 146);
}

input {
  padding-left: 7px;
  height: 30px;
  width: 350px;
  border-radius: 4px;
  border-color: rgb(182, 182, 182);
}

button {
  height: 36px;
  width: 80px;
  border-radius: 4px;
  border-color: rgb(182, 182, 182);

  cursor: pointer;
}

.load-more {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.is-hidden {
  display: none;
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery .photo-card {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}

.gallery .photo-card:hover .imgBox {
  transform: translate(-1.5rem, -1.5rem);
}

.gallery .photo-card:hover .info {
  transform: translate(2rem, 2rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  resize: both;
}

.info {
  width: 20rem;
  height: 20rem;
  /* object-fit: cover; */
  /* resize: both; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  gap: 5px;

  font-size: 14px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
