body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgb(74, 74, 146);
}

input {
  padding-left: 7px;
  height: 30px;
  width: 350px;
  border-radius: 4px;
  border-color: rgb(182, 182, 182);
}

button {
  height: 36px;
  width: 80px;
  border-radius: 4px;
  border-color: rgb(182, 182, 182);

  cursor: pointer;
}

.load-more {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.is-hidden {
  display: none;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.photo-card {
  padding-bottom: 5px;

  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;

  font-size: 14px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
